In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import fredapi as fd
import plotly.express as px

In [49]:
fred = fd.Fred(api_key = '')

In [50]:
data = fred.search("Consumer Price Index for All Urban Consumers: All Items in U.S. City Average")
data.head(10)

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
CPIAUCSL,CPIAUCSL,2023-04-01,2023-04-01,Consumer Price Index for All Urban Consumers: ...,1947-01-01,2023-02-01,Monthly,M,Index 1982-1984=100,Index 1982-1984=100,Seasonally Adjusted,SA,2023-03-14 07:39:01-05:00,94,The Consumer Price Index for All Urban Consume...
CPIAUCNS,CPIAUCNS,2023-04-01,2023-04-01,Consumer Price Index for All Urban Consumers: ...,1913-01-01,2023-02-01,Monthly,M,Index 1982-1984=100,Index 1982-1984=100,Not Seasonally Adjusted,NSA,2023-03-14 07:39:01-05:00,72,Handbook of Methods (https://www.bls.gov/opub/...
CUUS0000SA0,CUUS0000SA0,2023-04-01,2023-04-01,Consumer Price Index for All Urban Consumers: ...,1984-01-01,2022-07-01,Semiannual,SA,Index 1982-1984=100,Index 1982-1984=100,Not Seasonally Adjusted,NSA,2023-01-12 07:38:17-06:00,46,None
CPILFESL,CPILFESL,2023-04-01,2023-04-01,Consumer Price Index for All Urban Consumers: ...,1957-01-01,2023-02-01,Monthly,M,Index 1982-1984=100,Index 1982-1984=100,Seasonally Adjusted,SA,2023-03-14 07:38:02-05:00,81,"The ""Consumer Price Index for All Urban Consum..."
APU0000708111,APU0000708111,2023-04-01,2023-04-01,"Average Price: Eggs, Grade A, Large (Cost per ...",1980-01-01,2023-02-01,Monthly,M,U.S. Dollars,U.S. $,Not Seasonally Adjusted,NSA,2023-03-14 07:34:01-05:00,81,"Large white, Grade A chicken eggs, sold in a c..."
CPILFENS,CPILFENS,2023-04-01,2023-04-01,Consumer Price Index for All Urban Consumers: ...,1957-01-01,2023-02-01,Monthly,M,Index 1982-1984=100,Index 1982-1984=100,Not Seasonally Adjusted,NSA,2023-03-14 07:38:07-05:00,52,The â€œConsumer Price Index for All Urban Consum...
CUUS0000SA0L1E,CUUS0000SA0L1E,2023-04-01,2023-04-01,Consumer Price Index for All Urban Consumers: ...,1984-01-01,2022-07-01,Semiannual,SA,Index 1982-1984=100,Index 1982-1984=100,Not Seasonally Adjusted,NSA,2023-01-12 07:38:32-06:00,12,None
APU0000FF1101,APU0000FF1101,2023-04-01,2023-04-01,"Average Price: Chicken Breast, Boneless (Cost ...",2006-01-01,2023-02-01,Monthly,M,U.S. Dollars,U.S. $,Not Seasonally Adjusted,NSA,2023-03-14 07:34:02-05:00,66,"All whole or half boneless, skinless chicken b..."
APU0000703112,APU0000703112,2023-04-01,2023-04-01,"Average Price: Ground Beef, 100% Beef (Cost pe...",1984-01-01,2023-02-01,Monthly,M,U.S. Dollars,U.S. $,Not Seasonally Adjusted,NSA,2023-03-14 07:34:02-05:00,66,Fresh regular 100% ground beef excluding round...
APU000072610,APU000072610,2023-04-01,2023-04-01,Average Price: Electricity per Kilowatt-Hour i...,1978-11-01,2023-02-01,Monthly,M,U.S. Dollars,U.S. $,Not Seasonally Adjusted,NSA,2023-03-14 07:34:03-05:00,62,All electricity. Average consumer prices are ...

In [51]:
data['title'][0]

'Consumer Price Index for All Urban Consumers: All Items in U.S. City Average'

In [52]:
cpi=fred.get_series('CPIAUCSL')
cpi.name='values'
cpi

1947-01-01     21.480
1947-02-01     21.620
1947-03-01     22.000
1947-04-01     22.000
1947-05-01     21.950
               ...
2022-10-01    297.987
2022-11-01    298.598
2022-12-01    298.990
2023-01-01    300.536
2023-02-01    301.648
Name: values, Length: 914, dtype: float64

In [53]:
df=pd.DataFrame(cpi).reset_index()
df

         index   values
0   1947-01-01   21.480
1   1947-02-01   21.620
2   1947-03-01   22.000
3   1947-04-01   22.000
4   1947-05-01   21.950
..         ...      ...
909 2022-10-01  297.987
910 2022-11-01  298.598
911 2022-12-01  298.990
912 2023-01-01  300.536
913 2023-02-01  301.648

[914 rows x 2 columns]

In [54]:
df2 = df[df['index']> '1989-12-01']
df2

         index   values
516 1990-01-01  127.500
517 1990-02-01  128.000
518 1990-03-01  128.600
519 1990-04-01  128.900
520 1990-05-01  129.100
..         ...      ...
909 2022-10-01  297.987
910 2022-11-01  298.598
911 2022-12-01  298.990
912 2023-01-01  300.536
913 2023-02-01  301.648

[398 rows x 2 columns]

In [55]:
fig = px.line(df2, x='index', y='values', title='CPI Avg. 1990-2023')

In [56]:
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed